<!DOCTYPE HTML>html
<html>
<head>
<title>政府大数据治理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="政府, 大数据, 治理, 坪山区, 政府工作人员, 兽人组, 蛤gay大, 同性交友, 欢迎搞基" /> <!--  搜索关键词  -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script><!--  load 用于检验浏览器版本，加载合适的版本  --><!--  搜索关键词  --><!-- 将将要加载的内容拉到适当位置 -->
<!-- setTimeout是延时 -->
<link href="../static/css/date.css" rel="stylesheet">
<!-- 引入css -->
<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />


<link href="../static/css/leo.css" rel="stylesheet" type="text/css" >


<link href="../static/css/loading.css" rel="stylesheet" type="text/css" >


<link href="../static/css/index.css" rel="stylesheet" type="text/css" >


<style>

.bottom{position:fixed; bottom:0;color:black}

</style>
	<style>
            ul.important {
              position:fixed;top:0;left:430px;
                margin:120px;
                height:22px;
                border:1px solid red;
                overflow:hidden;

            }
            .important li{
                height:22px; line-height:22px; font-size:12px;
                color: red;
            }
        </style>

    <meta charset="utf-8">
    <title>民生事件</title>
    <!-- 引入 echarts.js -->
	<div id="pic2" style="width: 900px;height:1px;margin: 60px ;float:right;color:black">
	    <d1 align="center">时间: <input type="month" name="bday" id="time"></d1>
		<d1 align="center"><input type="submit" id="change" onclick="getdata(this)"></d1>
	</div>

    <script src="../static/js/echarts.min.js"></script>

    <script src="http://echarts.baidu.com/dist/echarts.js"></script>
<!-- Custom CSS -->
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />

<!-- font-awesome icons CSS -->
<link href="../static/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons CSS-->

<!-- side nav css file -->
<link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
<!-- //side nav css file -->

 <!-- 引入js-->
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/date.js"></script>
<!-- chart -->
<script src="../static/js/Chart.js"></script>
<!-- //chart -->

<!-- Metis Menu -->
<script src="../static/js/metisMenu.min.js"></script>
<script src="../static/js/custom.js"></script>
<link href="../static/css/custom.css" rel="stylesheet">
<!--//Metis Menu -->

<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<!-- 网页样式 -->
<!--//webfonts-->

<style>
#chartdiv {
  width: 100%;
  height: 295px;
}
</style>
<!--pie-chart --><!-- index page sales reviews visitors pie chart -->
<script src="../static/js/pie-chart.js" type="text/javascript"></script>
 <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#2dde98',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#8e43e7',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ffc168',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
<!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->

	<!-- requried-jsfiles-for owl -->
					<link href="../static/css/owl.carousel.css" rel="stylesheet">
					<script src="../static/js/owl.carousel.js"></script>
						<script>
							$(document).ready(function() {
								$("#owl-demo").owlCarousel({
									items : 3,
									lazyLoad : true,
									autoPlay : true,
									pagination : true,
									nav:true,
								});
							});
						</script>
					<!-- //requried-jsfiles-for owl -->
</head>
<body class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
      <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
            <span class="sr-only">哈尔滨工业大学</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index"><span class="fa fa-area-chart"></span> 兽人组<span class="dashboard_text">政府大数据治理</span></a></h1>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
				<li class="header">部门相关</li>
              <li class="treeview">
                <a href="abnormal">
                <i class="fa fa-dashboard"></i> <span>异常事件</span>
                </a>
              </li>
			  <li class="treeview">
                <a href="index">
                <i class="fa fa-dashboard"></i> <span>大类事件</span>
                </a>
              </li>
              <!--li class="treeview">
                <a href="charts.html">
                <i class="fa fa-pie-chart"></i>
                <span>大类问题</span>
                <span class="label label-primary pull-right">new</span>
                </a>
              </li>
              <li class="treeview">
              <li class="treeview">
                <a href="#">
                <i class="fa fa-laptop"></i>
                <span>小类问题</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="general.html"><i class="fa fa-angle-right"></i> General</a></li>
                  <li><a href="icons.html"><i class="fa fa-angle-right"></i> Icons</a></li>
                  <li><a href="buttons.html"><i class="fa fa-angle-right"></i> Buttons</a></li>
                  <li><a href="typography.html"><i class="fa fa-angle-right"></i> Typography</a></li>
                </ul>
              </li-->
			  <li>
                <a href="department">
                <i class="fa fa-th"></i> <span>热点社区</span>
                </a>
              </li>
				<li>
                <a href="complete">
                <i class="fa fa-th"></i> <span>超期结办</span>
                </a>
              </li>
				<li>
                <a href="nature">
                <i class="fa fa-th"></i> <span>今日民生</span>
                </a>
              <!--/li>
              <li class="header">部门相关</li>
              <li class="treeview">
                <a href="abnormal">
                <i class="fa fa-dashboard"></i> <span>异常事件</span>
                </a>
              </li>
			  <li class="treeview">
                <a href="#">
                <i class="fa fa-laptop"></i>
                <span>问题类型</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="index"><i class="fa fa-angle-right"></i> 大类问题</a></li>
                  <li><a href="media"><i class="fa fa-angle-right"></i> 小类问题</a></li>
                </ul>
              </li-->
              <!--li class="treeview">
                <a href="charts">
                <i class="fa fa-pie-chart"></i>
                <span>大类问题</span>
                <span class="label label-primary pull-right">new</span>
                </a>
              </li>
              <li class="treeview">
              <li class="treeview">
                <a href="#">
                <i class="fa fa-laptop"></i>
                <span>小类问题</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="general.html"><i class="fa fa-angle-right"></i> General</a></li>
                  <li><a href="icons.html"><i class="fa fa-angle-right"></i> Icons</a></li>
                  <li><a href="buttons.html"><i class="fa fa-angle-right"></i> Buttons</a></li>
                  <li><a href="typography.html"><i class="fa fa-angle-right"></i> Typography</a></li>
                </ul>
              </li-->
			  <!--li>
                <a href="department">
                <i class="fa fa-th"></i> <span>处置部门</span>
                <small class="label pull-right label-info">08</small>
                </a>
              </li>
              <li class="treeview">
                <a href="complete">
                <i class="fa fa-edit"></i> <span>超期结办</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="forms"><i class="fa fa-angle-right"></i> General Forms</a></li>
                  <li><a href="validation.html"><i class="fa fa-angle-right"></i> Form Validations</a></li>
                </ul>
              </li>
              <li class="treeview">
                <a href="nature">
                <i class="fa fa-table"></i> <span>问题性质类型</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="nature"><i class="fa fa-angle-right"></i> Simple tables</a></li>
                </ul>
              </li>
              <li class="treeview">
                <a href="user">
                <i class="fa fa-envelope"></i> <span>账户信息 </span>
                <i class="fa fa-angle-left pull-right"></i><small class="label pull-right label-info1"></small><span class="label label-primary1 pull-right"></span></a>
                <ul class="treeview-menu">
                  <li><a href="inbox"><i class="fa fa-angle-right"></i> Mail Inbox </a></li>
                  <li><a href="compose"><i class="fa fa-angle-right"></i> Compose Mail </a></li>
                </ul>
              </li>
              <li class="treeview">
                <a href="#">
                <i class="fa fa-folder"></i> <span>注册</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="login"><i class="fa fa-angle-right"></i> Login</a></li>
                  <li><a href="signup"><i class="fa fa-angle-right"></i> Register</a></li>
                  <li><a href="404"><i class="fa fa-angle-right"></i> 404 Error</a></li>
                  <li><a href="500"><i class="fa fa-angle-right"></i> 500 Error</a></li>
                  <li><a href="blank-page"><i class="fa fa-angle-right"></i> Blank Page</a></li>
                </ul>
              </li>
              <li class="header"></li>
              <li><a href="#"><i class="fa fa-angle-right text-red"></i> <span></span></a></li>
              <li><a href="#"><i class="fa fa-angle-right text-yellow"></i> <span></span></a></li>
              <li><a href="#"><i class="fa fa-angle-right text-aqua"></i> <span></span></a></li>
            </ul>
          </div-->
          <!-- /.navbar-collapse -->
      </nav>
    </aside>
	</div>
		<!--left-fixed -navigation-->

		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush"><i class="fa fa-bars"></i></button>
				<!--toggle button end-->
				<div class="profile_details_left"><!--notifications of menu start -->
					<ul class="nofitications-dropdown">
						<li class="dropdown head-dpdn">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge"></span></a>
							<ul class="dropdown-menu">
								<li>
									<div class="notification_header">
										<h3>You have 3 new messages</h3>
									</div>
								</li>
								<li><a href="#">
								   <div class="user_img"><img src="../static/images/1.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet</p>
									<p><span>1 hour ago</span></p>
									</div>
								   <div class="clearfix"></div>
								</a></li>
								<li class="odd"><a href="#">
									<div class="user_img"><img src="../static/images/4.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet </p>
									<p><span>1 hour ago</span></p>
									</div>
								  <div class="clearfix"></div>
								</a></li>
								<li><a href="#">
								   <div class="user_img"><img src="../static/images/3.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet </p>
									<p><span>1 hour ago</span></p>
									</div>
								   <div class="clearfix"></div>
								</a></li>
								<li><a href="#">
								   <div class="user_img"><img src="../static/images/2.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet </p>
									<p><span>1 hour ago</span></p>
									</div>
								   <div class="clearfix"></div>
								</a></li>
								<li>
									<div class="notification_bottom">
										<a href="#">See all messages</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="dropdown head-dpdn">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue"></span></a>
							<ul class="dropdown-menu">
								<li>
									<div class="notification_header">
										<h3>You have 3 new notification</h3>
									</div>
								</li>
								<li><a href="#">
									<div class="user_img"><img src="../static/images/4.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet</p>
									<p><span>1 hour ago</span></p>
									</div>
								  <div class="clearfix"></div>
								 </a></li>
								 <li class="odd"><a href="#">
									<div class="user_img"><img src="../static/images/1.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet </p>
									<p><span>1 hour ago</span></p>
									</div>
								   <div class="clearfix"></div>
								 </a></li>
								 <li><a href="#">
									<div class="user_img"><img src="../static/images/3.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet </p>
									<p><span>1 hour ago</span></p>
									</div>
								   <div class="clearfix"></div>
								 </a></li>
								<li><a href="#">
								   <div class="user_img"><img src="../static/images/2.jpg" alt=""></div>
								   <div class="notification_desc">
									<p>Lorem ipsum dolor amet </p>
									<p><span>1 hour ago</span></p>
									</div>
								   <div class="clearfix"></div>
								</a></li>
								 <li>
									<div class="notification_bottom">
										<a href="#">See all notifications</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="dropdown head-dpdn">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1"></span></a>
							<ul class="dropdown-menu">
								<li>
									<div class="notification_header">
										<h3>You have 8 pending task</h3>
									</div>
								</li>
								<li><a href="#">
									<div class="task-info">
										<span class="task-desc">Database update</span><span class="percentage">40%</span>
										<div class="clearfix"></div>
									</div>
									<div class="progress progress-striped active">
										<div class="bar yellow" style="width:40%;"></div>
									</div>
								</a></li>
								<li><a href="#">
									<div class="task-info">
										<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
									   <div class="clearfix"></div>
									</div>
									<div class="progress progress-striped active">
										 <div class="bar green" style="width:90%;"></div>
									</div>
								</a></li>
								<li><a href="#">
									<div class="task-info">
										<span class="task-desc">Mobile App</span><span class="percentage">33%</span>
										<div class="clearfix"></div>
									</div>
								   <div class="progress progress-striped active">
										 <div class="bar red" style="width: 33%;"></div>
									</div>
								</a></li>
								<li><a href="#">
									<div class="task-info">
										<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
									   <div class="clearfix"></div>
									</div>
									<div class="progress progress-striped active">
										 <div class="bar  blue" style="width: 80%;"></div>
									</div>
								</a></li>
								<li>
									<div class="notification_bottom">
										<a href="#">See all pending tasks</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<!--notification menu end -->
				<div class="clearfix"> </div>
			</div>
			<div class="header-right">


				<!--search-box-->
				<div class="search-box">
					<form class="input">
						<input class="sb-search-input input__field--madoka" placeholder="搜索" type="search" id="input-31" />
						<label class="input__label" for="input-31">
							<svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
								<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
							</svg>
						</label>
					</form>
				</div><!--//end-search-box-->



				<div class="profile_details">
					<ul>
						<li class="dropdown profile_details_drop">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">
									<span class="prfil-img"><img src="../static/images/2.jpg" alt=""> </span>
									<div class="user-name">
										<p>用户名</p>
										<span>政府部门工作人员</span>
									</div>
									<i class="fa fa-angle-down lnr"></i>
									<i class="fa fa-angle-up lnr"></i>
									<div class="clearfix"></div>
								</div>
							</a>
							<ul class="dropdown-menu drp-mnu">
								<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
								<li> <a href="#"><i class="fa fa-user"></i> My Account</a> </li>
								<li> <a href="#"><i class="fa fa-suitcase"></i> Profile</a> </li>
								<li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //header-ends -->
		<!-- main content start-->

			<div class="main-page">
<ul id="gdl" class="important">
            <li >2018年10月30日，坑梓街道出现商业经营噪声大类中的商业经营红线内噪声的投诉，请尽快解决！</li>
            <li >2018年10月30日，马峦街道出现工业、住宅废气扰民大类中的工业废气的投诉，请尽快解决！</li>
            <li >2018年10月30日，坑梓街道出现绿化养护大类中的绿化带养护的投诉，请尽快解决！</li>
            <li >2018年10月30日，坑梓街道出现绿化养护大类中的绿化带养护的投诉，请尽快解决！</li>
        </ul>
        <script>

         $().ready(function() { //id为table的元素 中的 ul 中的 li 中的 span的元素
                $.get("/data_abnormal", function(data) { //data是后端发来的json文件
                    $("#gdl ").empty(); //清空
                    for (var x in data) { //对于data中的每个对象的元素
                        var count = 0;
                        for (var y in data[x]) {
                          if(count == 0){
                            $("#gdl").append("<li></li>");
                            $("#gdl li:last").append("<div>2018年10月30日，</div>");
                            var sub = $("<span></span>").text(data[x][y]);
                            $("#gdl  div:last").append(sub);
                            count ++;
                          }
                          else if (count == 1) {
                            $("#gdl div:last").append("<span>出现</span>");
                            var sub1 = $("<span></span>").text(data[x][y]);
                            $("#gdl div:last").append(sub1);
                            count ++;
                          }
                          else if (count == 2){
                            $("#gdl div:last").append("<span>大类中的</span>");
                            var sub2 = $("<span></span>").text(data[x][y]);
                            $("#gdl div:last").append(sub2);
                            count ++;
                          }
                          else if (count == 3){
                            $("#gdl div:last").append("<span>的</span>");
                            var sub3 = $("<span></span>").text(data[x][y]);
                            $("#gdl div:last").append(sub3);
                             $("#gdl div:last").append("<span>,请尽快解决！</span>");
                          }

                        }


                    }
                });
            });
            //document.getElementById()的最简化应用
            var Class={
                create:function(){
                    return function(){
                        this.initialize.apply(this,arguments);
                    };
                }
            };
            //对象属性方法扩展
            Function.prototype.bind=function(object){
                var method=this;
                return function(){
                    method.apply(object,arguments);
                };
            };
            var Scroll=Class.create();
            Scroll.prototype={
                //第一个参数定义要滚动的区域,第二个参数定义每次滚动的高度
                initialize:function(element,height,delay){
                    this.element=document.getElementById(element);
                    this.element.innerHTML+=this.element.innerHTML;
                    this.height=height;
                    this.delay=delay*1000;
                    this.maxHeight=this.element.scrollHeight/2;
                    this.counter=0;
                    this.scroll();
                    this.timer="";
                    this.element.onmouseover=this.stop.bind(this);
                    this.element.onmouseout=function(){this.timer=setTimeout(this.scroll.bind(this),1000);}.bind(this);
                },
                scroll:function(){
                    if(this.element.scrollTop<this.maxHeight){
                        this.element.scrollTop++;
                        this.counter++;
                    }else{
                        this.element.scrollTop=0;
                        this.counter=0;
                    }

                    if(this.counter<this.height){
                        this.timer=setTimeout(this.scroll.bind(this),5);
                    }else{
                        this.counter=0;
                        this.timer=setTimeout(this.scroll.bind(this),this.delay);
                    }
                },
                stop:function(){
                    clearTimeout(this.timer);
                }
            };
            new Scroll('gdl', 27, 5);
        </script>
       <div id="pic1" style="width: 1250px;height:580px;margin: 20px ;float:right"></div>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=YnBkCjo9FwGzwAGFNtOrnbiGpSudHbHo"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
       <script type="text/javascript">
		var dom = document.getElementById("pic1");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;

		var data = [
			{name: '老坑社区',value:2},
			{name: '六和社区',value:7},
			{name: '沙湖社区',value:2},
			{name: '六联社区',value:16},
			{name: '金沙社区',value:8},
			{name: '秀新社区',value:8},
			{name: '坑梓社区',value:4},
			{name: '坪环社区',value:1},
			{name: '和平社区',value:1},
			{name: '坪山社区',value:1},
			{name: '龙田社区',value:0},
			{name: '沙田社区',value:4},
			{name: '石井社区',value:1},
			{name: '南布社区',value:7},
			{name: '沙坣社区',value:0},
			{name: '金龟社区',value:0},
			{name: '江岭社区',value:3},
			{name: '碧岭社区',value:2},
			{name: '竹坑社区',value:9},
			{name: '汤坑社区',value:1},
			{name: '田头社区',value:1},
			{name: '田心社区',value:0}
		];

		var geoCoordMap = {
			'老坑社区':[114.369312,22.734866],
			'六和社区':[114.349914,22.707919],
			'沙湖社区':[114.326552,22.67909],
			'六联社区':[114.336721,22.69849],
			'金沙社区':[114.406008,22.75079],
			'秀新社区':[114.381223,22.746873],
			'坑梓社区':[114.390013,22.753031],
			'坪环社区':[114.35474,22.688096],
			'和平社区':[114.355104,22.697106],
			'坪山社区':[114.357265,22.696259],
			'龙田社区':[114.372841,22.753346],
			'沙田社区':[114.404444,22.761764],
			'石井社区':[114.390978,22.697625],
			'南布社区':[114.375607,22.70534],
			'沙坣社区':[114.377477,22.690153],
			'金龟社区':[114.406461,22.663744],
			'江岭社区':[114.362596,22.69202],
			'碧岭社区':[114.295663,22.67342],
			'竹坑社区':[114.395074,22.715773],
			'汤坑社区':[114.331079,22.678805],
			'田头社区':[114.410837,22.697197],
			'田心社区':[114.421943,22.700351]
		};

		var convertData = function (data) {
			var res = [];
			for (var i = 0; i < data.length; i++) {
				var geoCoord = geoCoordMap[data[i].name];
				if (geoCoord) {
					res.push({
						name: data[i].name,
						value: geoCoord.concat(data[i].value)
					});
				}
			}
			return res;
		};

		function renderItem(params, api) {
			var coords = [
				[114.395503,22.764644],
				[114.402115,22.769076],
				[114.405061,22.780806],
				[114.41117,22.787203],
				[114.417278,22.783738],
				[114.425471,22.768077],
				[114.429351,22.76721],
				[114.424033,22.765544],
				[114.426836,22.761745],
				[114.420368,22.760012],
				[114.420368,22.760012],
				[114.415482,22.740381],
				[114.414404,22.731115],
				[114.411026,22.730848],
				[114.415913,22.719714],
				[114.428273,22.721181],
				[114.433735,22.707513],
				[114.433735,22.707513],
				[114.449258,22.706579],
				[114.452204,22.698044],
				[114.44933,22.690775],
				[114.434669,22.68504],
				[114.438263,22.670835],
				[114.442359,22.670168],
				[114.423243,22.659696],
				[114.418931,22.661363],
				[114.417135,22.660163],
				[114.413685,22.655227],
				[114.394641,22.64362],
				[114.385514,22.646688],
				[114.380052,22.650557],
				[114.376603,22.647822],
				[114.379837,22.646755],
				[114.380484,22.639684],
				[114.373728,22.63955],
				[114.370279,22.629543],
				[114.358206,22.633012],
				[114.355331,22.638083],
				[114.349582,22.637949],
				[114.344839,22.630477],
				[114.340383,22.63408],
				[114.333772,22.629677],
				[114.325651,22.632545],
				[114.319399,22.630744],
				[114.310416,22.636748],
				[114.303086,22.625407],
				[114.300211,22.627675],
				[114.296043,22.62554],
				[114.292809,22.630878],
				[114.29633,22.638016],
				[114.291803,22.646722],
				[114.28361,22.650991],
				[114.273477,22.664732],
				[114.272471,22.668934],
				[114.27937,22.680072],
				[114.290581,22.680805],
				[114.292377,22.684207],
				[114.299276,22.681005],
				[114.300642,22.68294],
				[114.297552,22.68514],
				[114.301935,22.689075],
				[114.303445,22.686474],
				[114.307613,22.690175],
				[114.312931,22.687508],
				[114.313649,22.692509],
				[114.324645,22.698911],
				[114.328094,22.707179],
				[114.326226,22.709646],
				[114.34103,22.715381],
				[114.346635,22.722981],
				[114.345916,22.733182],
				[114.349294,22.735582],
				[114.343832,22.743314],
				[114.346132,22.751847],
				[114.343114,22.754113],
				[114.354684,22.774841],
				[114.365535,22.771109],
				[114.374087,22.774508]
			];
			var points = [];
			for (var i = 0; i < coords.length; i++) {
				points.push(api.coord(coords[i]));
			}
			var color = api.visual('color');

			return {
				type: 'polygon',
				shape: {
					points: echarts.graphic.clipPointsByRect(points, {
						x: params.coordSys.x,
						y: params.coordSys.y,
						width: params.coordSys.width,
						height: params.coordSys.height
					})
				},
				style: api.style({
					fill: color,
					stroke: echarts.color.lift(color)
				})
			};
		}

		option = {
			backgroundColor: 'transparent',
			title: {
				left: 'center',
				textStyle: {
					color: '#fff'
				}
			},
			tooltip : {
				trigger: 'item'
			},
			bmap: {
				center: [114.353907,22.69667],
				zoom: 13,
				roam: true,
				mapStyle: {
					styleJson: [
							{
								"featureType": "water",
								"elementType": "all",
								"stylers": {
									"color": "#044161"
								}
							},
							{
								"featureType": "land",
								"elementType": "all",
								"stylers": {
									"color": "#004981"
								}
							},
							{
								"featureType": "boundary",
								"elementType": "geometry",
								"stylers": {
									"color": "#064f85"
								}
							},
							{
								"featureType": "railway",
								"elementType": "all",
								"stylers": {
									"visibility": "off"
								}
							},
							{
								"featureType": "highway",
								"elementType": "geometry",
								"stylers": {
									"color": "#004981"
								}
							},
							{
								"featureType": "highway",
								"elementType": "geometry.fill",
								"stylers": {
									"color": "#005b96",
									"lightness": 1
								}
							},
							{
								"featureType": "highway",
								"elementType": "labels",
								"stylers": {
									"visibility": "off"
								}
							},
							{
								"featureType": "arterial",
								"elementType": "geometry",
								"stylers": {
									"color": "#004981"
								}
							},
							{
								"featureType": "arterial",
								"elementType": "geometry.fill",
								"stylers": {
									"color": "#00508b"
								}
							},
							{
								"featureType": "poi",
								"elementType": "all",
								"stylers": {
									"visibility": "off"
								}
							},
							{
								"featureType": "green",
								"elementType": "all",
								"stylers": {
									"color": "#056197",
									"visibility": "off"
								}
							},
							{
								"featureType": "subway",
								"elementType": "all",
								"stylers": {
									"visibility": "off"
								}
							},
							{
								"featureType": "manmade",
								"elementType": "all",
								"stylers": {
									"visibility": "off"
								}
							},
							{
								"featureType": "local",
								"elementType": "all",
								"stylers": {
									"visibility": "off"
								}
							},
							{
								"featureType": "arterial",
								"elementType": "labels",
								"stylers": {
									"visibility": "off"
								}
							},
							{
								"featureType": "boundary",
								"elementType": "geometry.fill",
								"stylers": {
									"color": "#029fd4"
								}
							},
							{
								"featureType": "building",
								"elementType": "all",
								"stylers": {
									"color": "#1a5787"
								}
							},
							{
								"featureType": "label",
								"elementType": "all",
								"stylers": {
									"visibility": "off"
								}
							}
					]
				}
			},
			series : [
				{
					name: '社区名称',
					type: 'scatter',
					coordinateSystem: 'bmap',
					data: convertData(data),
					symbolSize: function (val) {
						return val[2]*6;
					},
					label: {
						normal: {
							formatter: '{b}',
							position: 'right',
							show: false
						},
						emphasis: {
							show: true
						}
					},
					itemStyle: {
						normal: {
							color: '#ddb926'
						}
					}
				},
				{
            name: '热点社区',
            type: 'effectScatter',
            coordinateSystem: 'bmap',
            data: convertData(data.sort(function (a, b) {
                return b.value - a.value;
            }).slice(0, 6)),
            symbolSize: function (val) {
                return val[2] * 4;
            },
            showEffectOn: 'emphasis',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: '#f4e925',
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            zlevel: 1
        },
				{
					type: 'custom',
					coordinateSystem: 'bmap',
					renderItem: renderItem,
					itemStyle: {
						normal: {
							opacity: 0.5
						}
					},
					animation: false,
					silent: true,
					data: [0],
					z: -10
				}
			]
		};;
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}

		function getdata(e){
				var formdata={
				"time":$("#time").val()
			}
			$.ajax({
				url:"/data_department",
				type:"POST",
				data: JSON.stringify(formdata),
				dataType: "json",
				contentType: 'application/json',
				success:function (data) {
				// 填入数据
					if (data.result=="NO"){
						toastr.error(result.msg)
					}
					else if (data.result == "OK"){
					var data = [
						{name: '老坑社区',value:data.data0},
						{name: '六和社区',value:data.data1},
						{name: '沙湖社区',value:data.data2},
						{name: '六联社区',value:data.data3},
						{name: '金沙社区',value:data.data4},
						{name: '秀新社区',value:data.data5},
						{name: '坑梓社区',value:data.data6},
						{name: '坪环社区',value:data.data7},
						{name: '和平社区',value:data.data8},
						{name: '坪山社区',value:data.data9},
						{name: '龙田社区',value:data.data10},
						{name: '沙田社区',value:data.data11},
						{name: '石井社区',value:data.data12},
						{name: '南布社区',value:data.data13},
						{name: '沙坣社区',value:data.data14},
						{name: '金龟社区',value:data.data15},
						{name: '江岭社区',value:data.data16},
						{name: '碧岭社区',value:data.data17},
						{name: '竹坑社区',value:data.data18},
						{name: '汤坑社区',value:data.data19},
						{name: '田头社区',value:data.data20},
						{name: '田心社区',value:data.data21}
					];

					var geoCoordMap = {
						'老坑社区':[114.369312,22.734866],
						'六和社区':[114.349914,22.707919],
						'沙湖社区':[114.326552,22.67909],
						'六联社区':[114.336721,22.69849],
						'金沙社区':[114.406008,22.75079],
						'秀新社区':[114.381223,22.746873],
						'坑梓社区':[114.390013,22.753031],
						'坪环社区':[114.35474,22.688096],
						'和平社区':[114.355104,22.697106],
						'坪山社区':[114.357265,22.696259],
						'龙田社区':[114.372841,22.753346],
						'沙田社区':[114.404444,22.761764],
						'石井社区':[114.390978,22.697625],
						'南布社区':[114.375607,22.70534],
						'沙坣社区':[114.377477,22.690153],
						'金龟社区':[114.406461,22.663744],
						'江岭社区':[114.362596,22.69202],
						'碧岭社区':[114.295663,22.67342],
						'竹坑社区':[114.395074,22.715773],
						'汤坑社区':[114.331079,22.678805],
						'田头社区':[114.410837,22.697197],
						'田心社区':[114.421943,22.700351]
					};

					var convertData = function (data) {
						var res = [];
						for (var i = 0; i < data.length; i++) {
							var geoCoord = geoCoordMap[data[i].name];
							if (geoCoord) {
								res.push({
									name: data[i].name,
									value: geoCoord.concat(data[i].value)
								});
							}
						}
						return res;
					};

					function renderItem(params, api) {
						var coords = [
							[114.395503,22.764644],
							[114.402115,22.769076],
							[114.405061,22.780806],
							[114.41117,22.787203],
							[114.417278,22.783738],
							[114.425471,22.768077],
							[114.429351,22.76721],
							[114.424033,22.765544],
							[114.426836,22.761745],
							[114.420368,22.760012],
							[114.420368,22.760012],
							[114.415482,22.740381],
							[114.414404,22.731115],
							[114.411026,22.730848],
							[114.415913,22.719714],
							[114.428273,22.721181],
							[114.433735,22.707513],
							[114.433735,22.707513],
							[114.449258,22.706579],
							[114.452204,22.698044],
							[114.44933,22.690775],
							[114.434669,22.68504],
							[114.438263,22.670835],
							[114.442359,22.670168],
							[114.423243,22.659696],
							[114.418931,22.661363],
							[114.417135,22.660163],
							[114.413685,22.655227],
							[114.394641,22.64362],
							[114.385514,22.646688],
							[114.380052,22.650557],
							[114.376603,22.647822],
							[114.379837,22.646755],
							[114.380484,22.639684],
							[114.373728,22.63955],
							[114.370279,22.629543],
							[114.358206,22.633012],
							[114.355331,22.638083],
							[114.349582,22.637949],
							[114.344839,22.630477],
							[114.340383,22.63408],
							[114.333772,22.629677],
							[114.325651,22.632545],
							[114.319399,22.630744],
							[114.310416,22.636748],
							[114.303086,22.625407],
							[114.300211,22.627675],
							[114.296043,22.62554],
							[114.292809,22.630878],
							[114.29633,22.638016],
							[114.291803,22.646722],
							[114.28361,22.650991],
							[114.273477,22.664732],
							[114.272471,22.668934],
							[114.27937,22.680072],
							[114.290581,22.680805],
							[114.292377,22.684207],
							[114.299276,22.681005],
							[114.300642,22.68294],
							[114.297552,22.68514],
							[114.301935,22.689075],
							[114.303445,22.686474],
							[114.307613,22.690175],
							[114.312931,22.687508],
							[114.313649,22.692509],
							[114.324645,22.698911],
							[114.328094,22.707179],
							[114.326226,22.709646],
							[114.34103,22.715381],
							[114.346635,22.722981],
							[114.345916,22.733182],
							[114.349294,22.735582],
							[114.343832,22.743314],
							[114.346132,22.751847],
							[114.343114,22.754113],
							[114.354684,22.774841],
							[114.365535,22.771109],
							[114.374087,22.774508]
						];
						var points = [];
						for (var i = 0; i < coords.length; i++) {
							points.push(api.coord(coords[i]));
						}
						var color = api.visual('color');

						return {
							type: 'polygon',
							shape: {
								points: echarts.graphic.clipPointsByRect(points, {
									x: params.coordSys.x,
									y: params.coordSys.y,
									width: params.coordSys.width,
									height: params.coordSys.height
								})
							},
							style: api.style({
								fill: color,
								stroke: echarts.color.lift(color)
							})
						};
					}

			option = {
				backgroundColor: 'transparent',
				title: {
					left: 'center',
					textStyle: {
						color: '#fff'
					}
				},
				tooltip : {
					trigger: 'item'
				},
				bmap: {
					center: [114.353907,22.69667],
					zoom: 13,
					roam: true,
					mapStyle: {
						styleJson: [
								{
									"featureType": "water",
									"elementType": "all",
									"stylers": {
										"color": "#044161"
									}
								},
								{
									"featureType": "land",
									"elementType": "all",
									"stylers": {
										"color": "#004981"
									}
								},
								{
									"featureType": "boundary",
									"elementType": "geometry",
									"stylers": {
										"color": "#064f85"
									}
								},
								{
									"featureType": "railway",
									"elementType": "all",
									"stylers": {
										"visibility": "off"
									}
								},
								{
									"featureType": "highway",
									"elementType": "geometry",
									"stylers": {
										"color": "#004981"
									}
								},
								{
									"featureType": "highway",
									"elementType": "geometry.fill",
									"stylers": {
										"color": "#005b96",
										"lightness": 1
									}
								},
								{
									"featureType": "highway",
									"elementType": "labels",
									"stylers": {
										"visibility": "off"
									}
								},
								{
									"featureType": "arterial",
									"elementType": "geometry",
									"stylers": {
										"color": "#004981"
									}
								},
								{
									"featureType": "arterial",
									"elementType": "geometry.fill",
									"stylers": {
										"color": "#00508b"
									}
								},
								{
									"featureType": "poi",
									"elementType": "all",
									"stylers": {
										"visibility": "off"
									}
								},
								{
									"featureType": "green",
									"elementType": "all",
									"stylers": {
										"color": "#056197",
										"visibility": "off"
									}
								},
								{
									"featureType": "subway",
									"elementType": "all",
									"stylers": {
										"visibility": "off"
									}
								},
								{
									"featureType": "manmade",
									"elementType": "all",
									"stylers": {
										"visibility": "off"
									}
								},
								{
									"featureType": "local",
									"elementType": "all",
									"stylers": {
										"visibility": "off"
									}
								},
								{
									"featureType": "arterial",
									"elementType": "labels",
									"stylers": {
										"visibility": "off"
									}
								},
								{
									"featureType": "boundary",
									"elementType": "geometry.fill",
									"stylers": {
										"color": "#029fd4"
									}
								},
								{
									"featureType": "building",
									"elementType": "all",
									"stylers": {
										"color": "#1a5787"
									}
								},
								{
									"featureType": "label",
									"elementType": "all",
									"stylers": {
										"visibility": "off"
									}
								}
						]
					}
				},
				series : [
					{
						name: '社区名称',
						type: 'scatter',
						coordinateSystem: 'bmap',
						data: convertData(data),
						symbolSize: function (val) {
							return val[2]/4;
						},
						label: {
							normal: {
								formatter: '{b}',
								position: 'right',
								show: false
							},
							emphasis: {
								show: true
							}
						},
						itemStyle: {
							normal: {
								color: '#ddb926'
							}
						}
					},
					{
            name: '热点社区',
            type: 'effectScatter',
            coordinateSystem: 'bmap',
            data: convertData(data.sort(function (a, b) {
                return b.value - a.value;
            }).slice(0, 6)),
            symbolSize: function (val) {
                return val[2]/5;
            },
            showEffectOn: 'emphasis',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: '#f4e925',
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            zlevel: 1
        },

					{
						type: 'custom',
						coordinateSystem: 'bmap',
						renderItem: renderItem,
						itemStyle: {
							normal: {
								opacity: 0.5
							}
						},
						animation: false,
						silent: true,
						data: [0],
						z: -10
					}
				]
			}
		};;
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}
			}
			})
        };
       </script>
</body>
</html>
