<!DOCTYPE HTML>
<html>

<head>
    <title>政府大数据治理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="政府, 大数据, 治理, 坪山区, 政府工作人员, 兽人组, 蛤gay大, 同性交友, 欢迎搞基" /> <!--  搜索关键词  -->
    <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);

    function hideURLbar() { window.scrollTo(0, 1); }
    </script><!--  load 用于检验浏览器版本，加载合适的版本  -->
    <!--  搜索关键词  -->
    <!-- 将将要加载的内容拉到适当位置 -->
    <!-- setTimeout是延时 -->
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- font-awesome icons CSS-->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->
    <!-- side nav css file -->
    <link href='../static/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- side nav css file -->
    <!-- js-->
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->
    <!-- Metis Menu -->
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <link href="../static/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style type="text/css" media="screen">
    table {
        width: 500px;
        border: 1px solid gray;
        border-collapse: collapse;
    }

    th,
    td {
        line-height: 35px;
        border: 1px solid gray;
        text-align: center;
        width: 120px;
    }

    .scroll-box {
        height: 280px;
        width: 500px;
        overflow: hidden;
        position: relative;
    }

    .tab-scroll {
        position: absolute;
        left: 0;
        top: 0;
        border-top: none;
    }

    .tab-scroll td {
        border-top: none;
    }
    </style>
</head>
<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <div class="bs-example widget-shadow" data-example-id="contextual-table">
                <h4>坪山区民生诉求数据:</h4>
                       <table class="top">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>住址</th>
            </tr>
        </thead>
    </table>
    <div class="scroll-box">
        <table class="tab-scroll">
            <tbody>
                <tr>
                    <td>1001</td>
                    <td>李四</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1004</td>
                    <td>Jack</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1005</td>
                    <td>小兰</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1006</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1007</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1008</td>
                    <td>Jack</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1009</td>
                    <td>小兰</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>李四</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1004</td>
                    <td>Jack</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1005</td>
                    <td>小兰</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1006</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1007</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1008</td>
                    <td>Jack</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1009</td>
                    <td>小兰</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1001</td>
                    <td>李四</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1004</td>
                    <td>Jack</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1005</td>
                    <td>小兰</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1006</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1007</td>
                    <td>王五</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1008</td>
                    <td>Jack</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>1009</td>
                    <td>小兰</td>
                    <td>AAAA</td>
                    <td>AAAA</td>
                </tr>
            </tbody>
        </table>

            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
</div>
<!--//footer-->
</div>
<!-- side nav js -->
<script src='../static/js/SidebarNav.min.js' type='text/javascript'></script>
<script>
$('.sidebar-menu').SidebarNav();
</script>
<!-- //side nav js -->
<!-- Classie -->
<!-- for toggle left push menu script -->
<script src="../static/js/classie.js"></script>
<script>
var menuLeft = document.getElementById('cbp-spmenu-s1'),
    showLeftPush = document.getElementById('showLeftPush'),
    body = document.body;

showLeftPush.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(body, 'cbp-spmenu-push-toright');
    classie.toggle(menuLeft, 'cbp-spmenu-open');
    disableOther('showLeftPush');
};

function disableOther(button) {
    if (button !== 'showLeftPush') {
        classie.toggle(showLeftPush, 'disabled');
    }
}

function scrollTop() {
    var sTab = document.getElementsByClassName('tab-scroll')[0];//要滚动的表,函数内的参数是class类型
  var tbody = sTab.getElementsByTagName('tbody')[0];//要滚动表格的内容，函数内的参数是标签
  sTab.appendChild(tbody.cloneNode(true));//追加一次滚动内容,以防滚动后可视区域无内容，向sTab后追加一个子节点，内容是对tbody的复制
  var speed = sTab.getElementsByTagName('td')[0].offsetHeight+1;//每次滚动的距离，offsetHeight是页面的头当当前页面的距离
  var tbdh = tbody.offsetHeight+1;//整个表的高度,是因为上边的边不算滚动
    var t = sTab.offsetTop;//获取要滚动表的位置，offsetTop为当前元素顶部距离最近父元素顶部的距离,和有没有滚动条没有关系
    if (-tbdh == t) {//比较  滚动的距离等于整个表的高度   即第一个表完全看不见   表完全滚完，重复滚动
      sTab.style.transition = '0s';//过渡动画设为0秒
      sTab.style.top = 0;//位置设为初始位置
      scrollTop();//因为偷梁换柱消耗了一次过程,所以把这一次过程补回来
    }else{
      sTab.style.transition = '1s';
      sTab.style.top = t - speed + 'px';
    }
  }
  setInterval(scrollTop, 50);//滚动速度
  $.get("/data_abnormal").done(function(data){//data是后端发来的json文件
                $("#table ul").empty();//清空
                for (var x in data) {//对于data中的每个对象的元素
                 var sub = $("<li></li>").text(data[x].subject1);//以文本形式返回data中的第x元素的.（定义的对象中的元素）
              var child = $('#table ul').children().length;//.chidren返回被选取的table中的ul的所有元素    再.length返回数量
              $("#table ul").append(sub);//在你选中的table ul元素（已经是空的）后面加上sub
        }
    })
        };
</script>
<!-- //Classie -->
<!-- //for toggle left push menu script -->
<!--scrolling js-->
<script src="../static/js/jquery.nicescroll.js"></script>
<script src="../static/js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.js"> </script>
<!-- //Bootstrap Core JavaScript -->
</body>

</html>
